*, *::after, *::before {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Manrope', sans-serif;
}

body {
    height: 100%;
    width: 100vw;
    background-color: black ;
    overflow-x:hidden;
}
header {
    display:flex;
    align-items: center;
    margin:0 auto;
    backdrop-filter: blur(2px);
    height:12vh;
    width: 92vw;
 
    color:white;    
}   

#logo {
    height:6vh;
    margin:15px;
    -webkit-filter: grayscale(1) invert(1);

}
.nav-links, .logo-container {
    display: flex;

}

.logo-container {
    flex: 1;
    align-items: center;
}

nav {
    flex:2;
   
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    cursor:pointer;
    color:white;

}

.test {
    color:white;        
    background-size: 100%;
    width: 100vw;
    height: 98vh;
    background-image: url('./images/bg-img3.jpg ')  ;
    
    }  
.test-inner {
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    
    height:100%;
    width:100%;
   
} 

.book-lesson-container {  
    position:relative;
    width:97%;
    bottom: 20px;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
   
    top:25vh;
    height:auto;
    padding:0px;
}

#book-button {
    white-space: nowrap;
    margin-top:10vh;
    padding: 15px 10px;  
    width: 15%; 
    background-color: rgba(208, 3, 3, 0.98);
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: 600;
    font-size: 1.2vw;
   
    margin-right: 8vw;
    
}
#lesson-desc {
    
    font-size: 1.9vw;
    align-self: flex-end;
    font-weight: 600;
    
}

#book-button:hover {
    background-color:rgba(179, 4, 4, 0.98);
    cursor: pointer;
}


.lesson-description {
    display: grid;
    grid-gap: 10px;
    grid-template:repeat(3,minmax(0,1fr)) / repeat(3,minmax(0,1fr));    
    column-gap: 10px;
    width:90%;
    margin:auto;
    margin-top:20px;
    min-height: 0;
    min-width: 0;
  
}   

.icon { 
    -webkit-filter: grayscale(1) invert(1);
}

.description-title {
    text-align: center;
    margin-bottom:6px;  
    font-size: 32px;
}
.icon-bg {
    display:flex;
    align-items:center;
    justify-content: center;
    height:60px;
    width:60px;
    margin:auto;  
    background-color:rgba(208, 3, 3, 0.98);
    border-radius:50%;
    margin-bottom:7px;
   
}
.box {
    background-color:rgba(106, 106, 106, 0.3);    
    border-radius: 4px;
    color:white;
    height:300px;
    white-space: normal;
    min-width: 0;
    word-wrap: break-word;
    padding: 20px 20px;

}