*, *::after, *::before {
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

body {
    height: 100%;
    width: 100vw;
    background-color: black ;
    overflow-x:hidden;
}
header {
    display:flex;
    align-items: center;
    margin:0 auto;
    backdrop-filter: blur(2px);
    height:12vh;
    width: 92vw;
 
    color:white;    
}   

#logo {
    height:6vh;
    margin:15px;
    -webkit-filter: grayscale(1) invert(1);

}
.nav-links, .logo-container {
    display: flex;

}

.logo-container {
    flex: 1;
    align-items: center;
}

nav {
    flex:2;
   
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.test {
    color:white;        
    background-size: 100%;
    width: 100vw;
    height: 90vh;
    background-image: url('./images/bg-img3.jpg ')  ;
    
    }  
.test-inner {
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    
    height:100%;
    width:100%;
   
} 

.book-lesson-container {  
    position:relative;
    width:95%;
    bottom: 20px;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
   
    top:25vh;
    height:auto;
    padding:0px;
}

#book-button {
    white-space: nowrap;
    margin-top:10vh;
    padding: 15px 10px;  
    width: 15%; 
    outline: 1px solid rgba(208, 3, 3, 0.744);
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: 600;
    font-size: 1.2vw;
    background-color: transparent;
    margin-right: 8vw;
    
}
#lesson-desc {
    
    font-size: 1.9vw;
    align-self: flex-end;
    font-weight: 600;
    
}

#book-button:hover {
    background-color:rgba(47, 47, 47, 0.895);
    cursor: pointer;
}

